<div class="AppChecklistHeader-container">
  <div (click)="deleteChecklist()" class="AppChecklistHeader-deleteButton">
    <i class="material-icons small">close</i>
  </div>
  <div class="AppChecklistHeader-nameInputContainer input-field">
    <input name="checklist-name" class="AppChecklistHeader-nameInput"
           (keyup)="changeCardName($event.target.value)"
           [value]="appChecklistHeaderCardName"
           autocomplete="false"
           maxlength="21"
           placeholder="Name"
           type="text"/>
  </div>
</div>
