@import "node_modules/materialize-css/sass/components/color-variables";

.AppChecklistHeader {
  &-container {
    align-items: center;
    display: flex;
    margin: 1rem 0;
    position: relative;
  }

  &-nameInputContainer {
    display: inline-block;
    margin: 0 auto;
  }

  &-nameInput {
    font-weight: bold;
    text-align: center;
  }

  &-deleteButton {
    display: inline-block;
    position: absolute;
    top: -5px;
    transition: color 0.3s;
    user-select: none;

    &:active,
    &:hover {
      color: color("grey", "lighten-2");
      cursor: pointer;
    }
  }
}
