@import 'node_modules/materialize-css/sass/components/color-variables';

:host {
  $host: '.AppChecklistTask';

  &#{$host}.isChecked {
    #{$host}-checkboxIcon {
      color: color("green", "accent-4");
    }

    #{$host}-textarea {
      text-decoration: line-through;
    }
  }
}

.AppChecklistTask {
  &-row {
    display: flex;
    margin-bottom: 0;
  }

  &-checkbox {
    display: inline-block;
    height: 2rem;
    position: relative;
    width: 2rem;
  }

  &-checkboxIcon {
    left: 0;
    position: absolute;
    user-select: none;
  }

  &-textareColumn {
    flex: 1 1 auto;
  }
}




