@import 'node_modules/materialize-css/sass/components/color-variables';

:host {
  $host: '.AppChecklistPanel';

  display: flex;
  background-image: url(../../../../../assets/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: crosshair;
  flex-direction: column;
  height: 300vh;
  padding: 1rem;
  position: relative;
}

.AppChecklistPanel {
  &-container {
    flex: 1 0 auto;
  }

  &-draggableContainer {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
    display: inline-block;
    position: absolute;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);

    &.cdk-drag-dragging {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
